.body {
	font-family: "Open Sans",sans-serif;
}

.wrapper-action-more {
    visibility: hidden;
}

.container.first-container {
	height: 90px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 12px !important;
}

.navbar {
	height: 60px;
	padding-bottom: 0px !important;
	padding-top: 0px !important;
	padding-left: 0px !important;
	margin-left: -4px;
}
.container-fluid {
	background-color: #FC6C4D;
}

.navbar-light .nav-link {
	color: white !important;
	display: table-cell;
	height: 60px;
	vertical-align: middle;
}

.navbar-light .nav-link:hover {
	background-color: #C7553D !important;
	display: table-cell;
	height: 60px;
	vertical-align: middle;
}

.nav-link {
	padding-left: 20px !important;
	padding-right: 20px !important;
	font-size: 15px;
	font-weight: 400;
	padding-bottom: 0px !important;
	padding-top: 0px !important;
}

.active {
	background-color: #C7553D !important;
	display: table-cell;
	height: 60px;
	vertical-align: middle;
}

.dropdown-menu {
	margin-top: 0px !important;
	border: none !important;
	background-color: #C7553D !important;
	border-radius: 0px !important;
	padding-bottom: 0px !important;
	padding-top: 0px !important;
}

.dropdown-menu .dropdown-item {
	color: #ffffff;
	word-wrap: break-word !important;
}

.dropdown-menu .dropdown-item:hover {
	color: #ffffff;
	background-color: #FC6C4D;

}
