<style>
.footer-about-openedx {
    clear: both;
}
	
.wrapper-footer {
    background: #222 !important;
}

.nav-colophon-01 a {
    color: white !important;
}

.nav-colophon-02 a {
    color: white !important;
}

.nav-colophon-01 a:hover {
    color: #FC6C4D !important;
}

.nav-colophon-02 a:hover {
    color: #FC6C4D !important;
}
	
.nav-colophon-03 a {
    color: white !important;
}

.nav-colophon-03 a:hover {
    cursor: default !important;
}

.wrapper-footer footer#footer-openedx .colophon {
    width: 100%
}
	
.colophon .nav-colophon ol {
    display: inline-block;
    list-style: inside;
    text-align: center;
}
	
.copyright {
    text-align: center !important;	
}
	
.footer-about-openedx {
    width: 100% !important;
}
	
.nav-colophon {	
    width: 100% !important;
    display: inline-block;
    text-align: center;
}
	
.nav-colophon-03 a:hover {
    border-bottom: none !important;
}
</style>
<div>
Lets see...
</div>
