// Sample red theme to demonstrate SASS overrides

// Theme colors
//
// Note: define colors needed by your theme first

// Define colors
$robin_egg_blue: #03d5b4;
$rhino: #2c3659;
$persimmon: #fc6c4d;
$white_smoke: #f0f0f0;

// Set colors
$primary: 		$robin_egg_blue;
$secondary: 	$rhino;
$info:			$persimmon;
$inverse:       $white_smoke;

// Theme fonts
//$font-family-sans-serif: cursive;

// Initialize the Open edX Bootstrap theme
@import 'edx-bootstrap/sass/open-edx/theme';
